pytest
pytest-cov
restructuredtext-lint
pygments
x-wr-timezone >= 0.0.3
# install requirements depending on python version
# see https://www.python.org/dev/peps/pep-0508/#environment-markers
backports.zoneinfo; python_version == "3.7" or python_version == "3.8"
tzdata; python_version >= "3.7"
