# install requirements depending on python version
# see https://www.python.org/dev/peps/pep-0508/#environment-markers

setuptools
pytest
pytest-cov
restructuredtext-lint
pygments
pytz >= 2023.3
icalendar >=6.0.0a0
